<a
    href="/"
    class="flex flex-col justify-between overflow-hidden bg-blue-400 rounded-xl h-25 hover:scale-102 hover:transition"
>
    <span class="pt-2 pl-3 text-xs">Subtitle</span>
    <div class="flex items-end justify-between">
        <p class="pb-2 pl-3 font-bold">Title</p>
        <img src="/favicon.svg" alt="logo" class="w-20 -mb-6 -mr-6" />
    </div>
</a>
