---
import LinkedIn from "@/assets/linkedin.svg";
---

<a
    href="/"
    class="flex flex-col justify-between overflow-hidden text-white transition bg-sky-900 rounded-xl h-25 hover:scale-102 group"
>
    <span class="pt-2 pl-3 text-xs">Subtitle</span>
    <div class="flex items-end justify-between">
        <p class="pb-2 pl-3 font-bold">Title</p>
        <LinkedIn
            class="-mb-1 -mr-1 transition-transform rotate-5 group-hover:-rotate-5 group-hover:scale-115"
        />
    </div>
</a>
