---
interface FooterProps {
    textColor: string;
}

import { footer } from "@/data.json";

const { textColor } = footer satisfies FooterProps;
---

<footer class="pt-10 pb-2.5 text-xs text-center footer-custom">
    <span>Made by MarcosKlender</span>
</footer>

<style define:vars={{ textColor }}>
    .footer-custom {
        color: var(--textColor);
    }
</style>
