---
interface HeaderProps {
    image: string;
    alt: string;
    username: string;
    accentColor: string;
    setMonospace: boolean;
    setVerified: boolean;
}

import { header } from "@/data.json";
import VerifiedIcon from "@/assets/VerifiedIcon.svg";

const { image, alt, username, accentColor, setMonospace, setVerified } =
    header satisfies HeaderProps;
---

<section class="flex flex-col items-center justify-center pt-4">
    <img src={image} alt={alt} class="w-70 mask-b-from-90%" />
    <span
        class=`flex gap-1 px-3 py-0.5 -mt-4 header-custom z-1 bg-black/60
        text-lg border-1 rounded-xl ${setMonospace ? "font-mono": "" }`
    >
        {username}
        {setVerified && <VerifiedIcon />}
    </span>
</section>

<style define:vars={{ accentColor }}>
    .header-custom {
        color: var(--accentColor);
        border-color: var(--accentColor);
    }
</style>
