---
import LinkCard from "@/components/links/LinkCard.astro";
import GridTwoOne from "@/components/links/GridTwoOne.astro";
import GridOneTwo from "@/components/links/GridOneTwo.astro";
---

<section class="flex flex-col gap-2">
    <GridTwoOne>
        <LinkCard />
        <LinkCard />
    </GridTwoOne>
    <GridOneTwo>
        <LinkCard />
        <LinkCard />
    </GridOneTwo>
    <GridTwoOne>
        <LinkCard />
        <LinkCard />
    </GridTwoOne>
</section>
