---
interface LinkProps {
    network: string;
    message: string;
    url: string;
    logo: string;
    topColor: string;
    middleColor: string;
    bottomColor: string;
}

import SocialCard from "@/components/grid/SocialCard.astro";
import GridTwoOne from "@/components/grid/GridTwoOne.astro";
import GridOneTwo from "@/components/grid/GridOneTwo.astro";
import { links } from "@/data.json";

const typedLinks = links satisfies LinkProps[];
const [one, two, three, four, five, six] = typedLinks;
---

<section class="flex flex-col w-full gap-2 mx-auto md:w-3/4 lg:w-2/3 2xl:w-4/5">
    <GridTwoOne>
        <SocialCard {...one} />
        <SocialCard {...two} />
    </GridTwoOne>
    <GridOneTwo>
        <SocialCard {...three} />
        <SocialCard {...four} />
    </GridOneTwo>
    <GridTwoOne>
        <SocialCard {...five} />
        <SocialCard {...six} />
    </GridTwoOne>
</section>
