---
import LinkCard from "@/components/grid/LinkCard.astro";
import GridTwoOne from "@/components/grid/GridTwoOne.astro";
import GridOneTwo from "@/components/grid/GridOneTwo.astro";
---

<section class="flex flex-col w-full gap-2 mx-auto md:w-3/4 lg:w-2/3 2xl:w-2/4">
    <GridTwoOne>
        <LinkCard />
        <LinkCard />
    </GridTwoOne>
    <GridOneTwo>
        <LinkCard />
        <LinkCard />
    </GridOneTwo>
    <GridTwoOne>
        <LinkCard />
        <LinkCard />
    </GridTwoOne>
</section>
