---
import SocialCard from "@/components/grid/SocialCard.astro";
import GridTwoOne from "@/components/grid/GridTwoOne.astro";
import GridOneTwo from "@/components/grid/GridOneTwo.astro";
---

<section class="flex flex-col w-full gap-2 mx-auto md:w-3/4 lg:w-2/3">
    <GridTwoOne>
        <SocialCard />
        <SocialCard />
    </GridTwoOne>
    <GridOneTwo>
        <SocialCard />
        <SocialCard />
    </GridOneTwo>
    <GridTwoOne>
        <SocialCard />
        <SocialCard />
    </GridTwoOne>
</section>
