---
interface LayoutProps {
	lang: string;
	title: string;
	description: string;
	favicon: string;
}

import "../styles/global.css";
import { html } from "@/data.json";

const { lang, title, description, favicon } = html satisfies LayoutProps;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<title>{title}</title>
	</head>
	<body class="w-full h-full m-0">
		<slot />
	</body>
</html>
